<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.spbstu.icc.kspt.sound" >

<uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application>
        <activity android:name=".SoundModule"/>
        <activity android:name=".RecordSound"/>
    </application>
</manifest>