<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="ru.spbstu.icc.kspt.configuration">
<application>
    <activity android:name=".BuilderActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
</application>
</manifest>